@use "../../foundation/mixin" as *;

.drawer-icon__bar {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 21px;
    height: 3px;
    border-radius: 6px;
    background: #111;
    transition: transform 0.3s linear, top 0.3s linear;
  
    &:nth-of-type(1) {
    }
  
    &:nth-of-type(2) {
      top: 9px;
      width: 11px;
      right: 0;

    }
  
    &:nth-of-type(3) {
      top: 18px;
    }
  }
  
.button {
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.48px;
    display: inline-block;
    background: #64629D;
    line-height: 36px;
    color: #fff;
    min-width: 180px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    
    width: 100%;
    white-space: nowrap;

  
    &:hover {
      background: #FFF;
      color: #64629D;
      border: 2px solid #64629D;
    }
  
    &--type2 {
      display: flex;
      align-items: center;
      display: inline-block;
      border: 2px solid #64629D;
      color: #64629D;
      background: #FFF;
      border-radius: 29px;
      font-weight: 700;
      box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
      text-align: center;
      line-height: 36px;
      white-space: nowrap;

      &:hover {
        background-color:  #64629D;
        color: #fff;
      }
    }

    &--type3 {
      display: flex;
      align-items: center;
      display: inline-block;
      border: 2px solid #2D2D32;
      background: #FFF;
      color: #2D2D32;
      text-align: center;
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 700;
      white-space: nowrap;

      &:hover {
        background: #2D2D32;
        color: #FFF;
        border: 2px solid #FFF;
      }
    }
}