body {
	color: #1a1a1a;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 14px;
}

.mv {
	background: #EDECFC;
}

.feature {
	background: #F9F9F9;
}

.feature__item-card {
	background: #FFF;
	border-radius: 16px;
}

.trial {
	background: #2D2D32;
}

.flow {
	background: #F9F9F9;
}

.flow__item-image {
	background: #EDECFC;
	border-radius: 30px;
}

.question {
	background: #F9F9F9;
}

.question__item-q {
	background: #64629D;
	border-radius: 4px;
}

.question__item-a {
	background: #FFF;
	border-radius: 4px;
}

footer {
	background: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.footer__inner {
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
}

.footer__sns-image {
	display: flex;
	gap: 18px;
	justify-content: center;
	margin-top: 12px;
}

.footer__nav {
	display: flex;
	flex-direction: column;
	gap: 14px;
	margin-top: 32px;
}

.footer__copy {
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 10px; /* 100% */
}

.copy1 {
	margin-top: 28px;
}

.copy2 {
	margin-top: 10px;
}

.header__inner {
	padding: 14px 20px;
}

.header__nav {
	display: none;
}

.drawer-content {
	padding: 86px 40px 40px;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: transform 0.3s linear;
	z-index: 50;
}

.drawer-content.is-checked {
	transform: translateX(0);
}

.drawer-icon__bar:nth-of-type(2) {
	top: 9px;
}

.drawer-icon__bar:nth-of-type(3) {
	top: 18px;
}

.mv__inner {
	display: flex;
	flex-direction: column;
	padding: 60px 20px;
}

.mv__title {
	order: 1;
}

.mv__text {
	margin-top: 16px;
	order: 2;
}

.mv__image {
	order: 3;
}

.mv__image-pc img {
	max-height: 515px;
	max-width: 515px;
}

.mv__buttons {
	display: block;
	gap: 16px;
	order: 4;
}

.mv__button2 {
	display: block;
	margin-top: 32px;
}

.what__inner {
	padding: 80px 20px 60px;
	text-align: center;
}

.title2 {
	margin-top: 12px;
}

.what__text {
	margin-top: 24px;
}

.what__button {
	margin-top: 24px;
}

.feature__inner {
	padding-bottom: 60px;
	padding-top: 60px;
}

.feature__title2 {
	margin-top: 12px;
}

.feature__items {
	display: flex;
	flex-direction: column;
	gap: 258px;
	margin-top: 245px;
}

.feature__item {
	position: relative;
}

.feature__item-image {
	margin-left: 48px;
	margin-right: 47px;
	position: absolute;
	top: -218px;
}

.feature__item-card {
	padding: 40px 20px;
}

.feature__item-text {
	margin-top: 8px;
}

.trial__inner {
	padding: 40px 20px;
	text-align: center;
}

.trial__button {
	margin-top: 24px;
}

.user__inner {
	padding-bottom: 60px;
	padding-top: 60px;
	text-align: center;
}

.user__items {
	display: grid;
	gap: 12px 5.5px;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 30px;
}

.flow__inner {
	padding-bottom: 59px;
	padding-inline: 20px;
	padding-top: 60px;
}

.flow__items {
	margin-top: 40px;
}

.flow__item {
	margin-top: 60px;
	position: relative;
}

.flow__item-number {
	position: absolute;
	top: -24px;
}

.flow__item-image {
	padding-bottom: 23px;
	padding-top: 26px;
	text-align: center;
}

.flow__item-title {
	margin-top: 16px;
}

.flow__item-text {
	margin-top: 8px;
}

.flow__polygon img {
	height: 64px;
	width: 29px;
}

.price__content {
	margin-top: 68px;
}

.price__table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 620px;
}

.price__table th,
.price__table td {
	height: 60px;
	text-align: center;
	vertical-align: middle;
}

.price__table th:nth-child(1),
.price__table td:nth-child(1) {
	width: 130px;
}

.price__table th:nth-child(2),
.price__table td:nth-child(2) {
	font-size: 16px;
	width: 90px;
}

.price__table th:nth-child(2) img,
.price__table td:nth-child(2) img {
	width: 70px;
}

.price__table th {
	letter-spacing: 0.48px;
}

.price__table td {
	font-size: 14px;
	letter-spacing: 0.42px;
}

.price__table thead th {
	letter-spacing: 1.6px;
}

.price__table tbody tr:nth-child(1) {
	background: #EDECFC;
}

.price__table tbody tr:nth-child(3) {
	background: #EDECFC;
}

.price__table tbody tr:nth-child(5) {
	background: #EDECFC;
}

.price__table tbody tr:nth-child(7) {
	background: #EDECFC;
}

.price__table tbody th,
.price__table tbody td {
	height: 60px;
}

.question__inner {
	padding-bottom: 36px;
	padding-inline: 20px;
	padding-top: 60px;
}

.question__items {
	margin-top: 40px;
}

.question__item-q {
	display: flex;
	gap: 15px;
	padding: 10px 10px 8px 15px;
}

.question__item-a {
	display: flex;
	gap: 15px;
	margin-bottom: 24px;
	margin-top: 16px;
	padding: 10px 10px 8px 15px;
}

.drawer-icon__bar {
	background: #111;
	border-radius: 6px;
	height: 3px;
	transition: transform 0.3s linear, top 0.3s linear;
	width: 21px;
}

.drawer-icon__bar:nth-of-type(2) {
	right: 0;
	top: 9px;
	width: 11px;
}

.drawer-icon__bar:nth-of-type(3) {
	top: 18px;
}

.button {
	align-items: center;
	background: #64629D;
	border: 2px solid currentColor;
	border-radius: 29px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
	color: #fff;
	display: flex;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: 58px;
	letter-spacing: 0.48px;
	line-height: 36px;
	min-width: 150px;
	padding: 8px 28px;
	text-align: center;
	transition: background-color 0.3s, color 0.3s;
	width: 300px;
}

.button:hover {
	background: #FFF;
	color: #64629D;
}

.button--type2 {
	background: #FFF;
	border: 2px solid #64629D;
	border-radius: 29px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
	color: #64629D;
	font-weight: 700;
	height: 58px;
	line-height: 36px;
	padding: 8px 28px;
	text-align: center;
	width: 300px;
}

.button--type2:hover {
	background-color: #64629D;
	color: #fff;
}

.drawer-icon__bar {
	background: #64629D;
	border-radius: 6px;
	height: 3px;
	width: 21px;
}

.mv__image img {
	height: 305px;
	width: 305px;
}

.feature__item-image img {
	height: 280px;
	width: 280px;
}

.user__item img {
	height: 59.507px;
	width: 75px;
}

.flow__item-image img {
	height: 148.019px;
	width: 198.919px;
}

.footer__sns-image img {
	height: 24px;
	width: 24px;
}

.header__title {
	color: #64629D;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 1.2px;
	line-height: 24px; /* 100% */
}

.header__link {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.42px;
	line-height: 14px; /* 100% */
}

.mv__title {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px; /* 160% */
}

.mv__text {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25.6px; /* 160% */
}

.title1 {
	color: #9F9EC1;
	font-family: Futura;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 100% */
	text-align: center;
}

.title2 {
	color: #64629D;
	font-family: "Noto Sans JP";
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 42px; /* 140% */
	text-align: center;
}

.what__text {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25.6px; /* 160% */
	text-align: center;
}

.number {
	color: #64629D;
	font-family: Futura;
	font-size: 42px;
	font-style: normal;
	font-weight: 700;
	line-height: 42px; /* 100% */
}

.feature__item-title {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.feature__item-text {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22.4px; /* 160% */
}

.trial__text {
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.36px;
	line-height: 28.8px; /* 160% */
	text-align: center;
}

.flow__item-number {
	color: #64629D;
	font-family: Futura;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.flow__item-title {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px; /* 100% */
	text-align: center;
}

.flow__item-text {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28.8px; /* 180% */
}

.question__item-initial-q {
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 100% */
}

.question__item-text-q {
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 25.6px; /* 160% */
}

.question__item-initial-a {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 22px; /* 100% */
}

.question__item-text-a {
	color: #2D2D32;
	font-family: "Noto Sans JP";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 25.6px; /* 160% */
}

.footer__sns-title {
	color: #FFF;
	font-family: Futura;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.footer__link-company {
	color: #FFF;
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0.72px;
	line-height: 24px; /* 100% */
}

.footer__link {
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0.42px;
	line-height: 14px; /* 100% */
}

.footer__copy {
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.3px;
	line-height: 10px; /* 100% */
}

@media screen and (min-width: 768px) {

.hidden-pc {
	display: none;
}

.flow__item-image {
	height: 191px;
	width: 280px;
}

.question__item-q {
	border-radius: 10px;
}

.question__item-a {
	border-radius: 10px;
}

.footer__inner {
	padding-left: 120px;
	padding-right: 133px;
	-moz-text-align-last: left;
	text-align-last: left;
}

.footer__contents {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.footer__links {
	display: flex;
	gap: 14px;
}

.footer__copys {
	display: flex;
}

.copy1 {
	margin-top: 0;
}

.copy2 {
	margin-top: 0;
}

.header__inner {
	align-items: center;
	display: flex;
	height: 100px;
	justify-content: center;
	width: 100%;
}

.header__title {
	margin-left: 100px;
}

.header__nav {
	align-items: center;
	display: flex;
	flex-grow: 1;
	gap: 14px;
	justify-content: flex-end;
	margin-right: 133px;
}

.mv__inner {
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 33px 133px 32px 120px;
}

.mv__text {
	margin-top: 24px;
	max-width: 600px;
}

.mv__buttons {
	align-items: center;
	display: flex;
	gap: 37px;
	margin-top: 33px;
}

.mv__button2 {
	margin-top: 0;
}

.what__button {
	margin-top: 40px;
}

.feature__inner {
	padding-inline: 120px;
}

.feature__items {
	gap: 263px;
	margin-top: 256px;
}

.is-reverse .feature__item {
	left: 0;
	right: auto;
}

.feature__item-image {
	bottom: 0px;
	right: 0px;
}

.feature__item-card {
	display: flex;
	gap: 18px;
	padding: 65px 19px 64px 40px;
}

.feature__item.is-reverse .feature__item-card {
	flex-direction: row-reverse;
}

.trial__inner {
	padding-bottom: 60px;
	padding-top: 60px;
}

.trial__button {
	margin-top: 32px;
}

.flow__inner {
	padding-bottom: 80px;
	padding-left: 192px;
	padding-right: 178px;
	padding-top: 100px;
}

.flow__items {
	align-items: center;
	display: flex;
	gap: 44px;
	justify-content: space-between;
}

.flow__item-number {
	left: -20px;
	top: -30px;
}

.flow__item-text {
	width: 280px;
}

.price__table {
	width: 1020px;
}

.price__table th,
.price__table td {
	height: 100px;
}

.price__table th:nth-child(1),
.price__table td:nth-child(1) {
	width: 250px;
}

.price__table th:nth-child(2),
.price__table td:nth-child(2) {
	font-size: 25px;
	letter-spacing: 0.75px;
	width: 250px;
}

.price__table th:nth-child(2) img,
.price__table td:nth-child(2) img {
	width: 123px;
}

.price__table th {
	font-size: 20px;
	letter-spacing: 0.6px;
}

.price__table td {
	font-size: 16px;
	letter-spacing: 0.48px;
}

.price__table thead th {
	background: #2D2D32;
	color: #FFF;
	font-family: "Noto Sans JP";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	height: 286px;
	line-height: normal;
	text-align: center;
	width: 260px;
}

.price__table thead th:nth-child(1) {
	background: #FFF;
}

.price__table thead th:nth-child(3) {
	background: #64629D;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.6);
	height: 286px;
}

.question__inner {
	padding-left: 261px;
	padding-right: 259px;
}

.question__item-q {
	padding: 20px 457px 20px 24px;
}

.question__item-a {
	padding: 20px 25px 20px 25px;
}

.button {
	border-radius: 50px;
	font-size: 24px;
	height: 70px;
	line-height: 50px;
	width: 400px;
}

.button--type2 {
	border-radius: 50px;
	font-size: 24px;
	height: 70px;
	line-height: 50px;
	width: 400px;
}

.feature__item-card {
	height: 366px;
	width: 742px;
}

.feature__item-image img {
	height: 520px;
	width: 520px;
}

.user__item img {
	height: 169px;
	width: 213px;
}

.mv__title {
	font-size: 60px;
	line-height: normal;
}

.mv__text {
	font-size: 18px;
}

.title1 {
	font-size: 36px;
	line-height: normal;
}

.title2 {
	font-size: 48px;
	letter-spacing: 2.4px;
	line-height: 48px; /* 100% */
}

.what__text {
	font-size: 18px;
	line-height: 32.4px;
}

.number {
	font-size: 72px;
	line-height: normal;
}

.feature__item-title {
	font-size: 36px;
	line-height: normal;
}

.feature__item-text {
	font-size: 16px;
	line-height: 28.8px; /* 180% */
}

.trial__text {
	font-size: 36px;
	letter-spacing: 0.72px;
	line-height: normal;
}

.question__item-text-q {
	font-size: 18px;
}

.question__item-text-a {
	font-size: 18px;
}

}

@media screen and (max-width: 767px) {

.hidden-sp {
	display: none;
}

}

