@use "../foundation/mixin" as *;

.footer__inner {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    @include mq(pc){
        padding-left: 120px;
        padding-right: 133px;
        text-align-last: left;
    }
}

.footer__contents {
    @include mq(pc){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
    }
}

.footer__sns-image  {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 18px;
}

.footer__nav {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 14px;

   
}

.footer__links {
    @include mq(pc){
        display: flex;
        gap: 14px;
    }
}

.footer__copys {
    @include mq(pc){
        display: flex;

    }

}

.footer__copy {
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 100% */
    letter-spacing: 0.3px;
}

.copy1 {
    margin-top: 28px;

    @include mq(pc){
        margin-top: 0;
    }
}

.copy2 {
    margin-top: 10px;

    @include mq(pc){
        margin-top: 0;
    }
}