@use "../foundation/mixin" as *;

.header__inner {
  padding: 14px 20px;
  @include mq(pc){
    display: flex;
    align-items: center; // ✅ 上下中央揃え
    justify-content: center; // ✅ 左右中央揃え
    height: 100px; // ✅ ヘッダーの高さを適宜指定
    width: 100%;

  }
}

.header__title {
  @include mq(pc){
    margin-left: 100px;

  }
}

.header__nav {
  display: none;
    @include mq(pc) {
      display: flex;
      align-items: center;
      gap: 14px;
      flex-grow: 1; // ✅ これを追加
      justify-content: flex-end; // ✅ これを追加 (右寄せ)
      margin-right: 133px;
    }
}

.header__button {
  @include mq(pc){
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    border-radius: 25px;
    padding: 12px 26px;
  }
}

.drawer-content {
    position: fixed;
    top: 0;
    right: 0;
    // background: #f7ba1a;
    z-index: 50;
    padding: 86px 40px 40px;
    transform: translateX(100%);
    transition: transform 0.3s linear;
  
    &.is-checked {
      transform: translateX(0);
    }
}

.drawer-icon__bar {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 21px;
    // height: 3px;
    // border-radius: 6px;
    // background: #64629D;
    // transition: transform 0.3s linear, top 0.3s linear;
  
    &:nth-of-type(1) {
    }
  
    &:nth-of-type(2) {
      top: 9px;

    }
  
    &:nth-of-type(3) {
      top: 18px;
    }
  }