@use "../foundation/mixin" as *;

.mv__inner {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    

    @include mq(pc){
        padding: 33px 133px 32px 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



.mv__title {
    order: 1;
    
}

.mv__text {
    order: 2;
    margin-top: 16px;
    @include mq(pc){
        max-width: 600px;
        margin-top: 24px;
    }
}

.mv__image {
    order: 3;
}

.mv__image-pc {
    img {
        max-width: 515px;
        max-height: 515px;
    }
}

.mv__buttons {
    order: 4;
    display: block;
    gap: 16px;

    @include mq(pc){
        display: flex;
        align-items: center;
        margin-top: 33px;
        gap: 37px;
    }

}

.mv__button1 {
    width: 300px;
    height: 58px;
    @include mq(pc){
        width: 250px;
        height: 54px;
    }
}

.mv__button2 {
    display: block;
    margin-top: 32px;
    width: 300px;
    height: 58px;
    @include mq(pc){
        margin-top: 0;
        width: 250px;
        height: 54px;
    }
}

.what__inner  {
    padding: 80px 20px 60px;
    text-align: center;
}

.title2 {
    margin-top: 12px;

    @include mq(pc){
        margin-top: 6px;
    }
}

.what__text {
    margin-top: 24px;
}

.what__button {
    margin-top: 24px;

    @include mq(pc){
        margin-top: 40px;
        
    }
}

.feature__inner {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(pc){
        padding-inline: 120px;
    }
   
}

.feature__title2 {
    margin-top: 12px;
}

.feature__items {
    margin-top: 245px;
    display: flex;
    flex-direction: column;
    gap: 258px;

    @include mq(pc){
        margin-top: 256px;
        gap: 263px;

    }
}

.feature__item {
    position: relative;
    
    @include mq(pc){

    }
    .is-reverse & {
        @include mq(pc){
            left: 0;
            right: auto;
        }
    }
}

.feature__item-image {
    position: absolute;
    top: -218px;
    margin-left: 48px;
    margin-right: 47px;

    @include mq(pc){
        right: 0px;
        bottom: 0px;
    }
}

.feature__item-card {
    padding: 40px 20px;

    @include mq(pc){
        display: flex;
        padding: 65px 19px 64px 40px;
        gap: 18px;
    }

    .feature__item.is-reverse & {
        @include mq(pc) {
            flex-direction: row-reverse; // ✅ 画像を左、テキストを右に変更
        }
    }
}

.feature__item-text {
    margin-top: 8px;
}

.trial__inner {
    padding: 40px 20px;
    text-align: center;

    @include mq(pc){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.trial__button {
    margin-top: 24px;

    @include mq(pc){
        margin-top: 32px;
    }
}

.user__inner  {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.user__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px 5.5px;

    @include mq(pc){
        
    }
}



.flow__inner {
    padding-top: 60px;
    padding-bottom: 59px;
    padding-inline: 20px;

    @include mq(pc){
        padding-right: 178px;
        padding-left: 192px;
        padding-top: 100px;
        padding-bottom: 80px;
    }
}

.flow__items {
    margin-top: 40px;

    @include mq(pc){
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 44px;
    }
}

.flow__item {
    margin-top: 60px;
    position: relative;
    
}

.flow__item-number {
    position: absolute;
    top: -24px;

    @include mq(pc){
        top: -30px;
        left: -20px;
    }
}

.flow__item-image {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 23px;

    
}



.flow__item-title {
    margin-top: 16px;
}

.flow__item-text {
    margin-top: 8px;

    @include mq(pc){
        width: 280px;
    }
}

.flow__polygon {
    img {
        width: 29px;
        height: 64px;
    }
}

.price__inner {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-inline: 20px;

    @include mq(pc){
       padding-top: 100px;
       padding-bottom: 69px;
    }
}

.price__content {
    margin-top: 68px;
}

.price__table {
width: 620px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;

  @include mq(pc) {
    width: 1020px;
  }


th,td {
    text-align: center;
    height: 60px;
    vertical-align: middle;

    @include mq(pc) {
      height: 100px;
    }

    &:nth-child(1) {
      width: 130px;

      @include mq(pc) {
        width: 250px;
      }
    }

    &:nth-child(3) {
      width: 90px;
      font-size: 18px;

      @include mq(pc) {
        width: 250px;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px; /* 75% */
      }

      img {
        width: 70px;

        @include mq(pc) {
          width: 123px;
        }
      }
    }
  }

  th {
    letter-spacing: 0.48px;

    @include mq(pc) {
      font-size: 20px;
      letter-spacing: 0.6px;
    }
  }

  td {
    font-size: 14px;
    letter-spacing: 0.42px;

    @include mq(pc) {
      font-size: 16px;
      letter-spacing: 0.48px;
    }
  }

  thead {
    th {
      letter-spacing: 1.6px;

      @include mq(pc) {
        color: #FFF;
        text-align: center;
        font-family: "Noto Sans JP";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: #2D2D32;
        width: 260px;
        height: 286px;

        &:nth-child(1){
            background: #FFF;
        }

        &:nth-child(3) {
            height: 286px;
            background: #64629D;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.60);
        }
      }
    }
  }

  tbody {
    tr {
        &:nth-child(1)  {
            background: #EDECFC;
        }
        &:nth-child(3)  {
            background: #EDECFC;
        }
        &:nth-child(5)  {
            background: #EDECFC;
        }
        &:nth-child(7)  {
            background: #EDECFC;
        }

      
    }

    th,
    td {
      height: 60px;
      

    }
  }
}



.question__inner {
    padding-top: 60px;
    padding-bottom: 36px;
    padding-inline: 20px;

    @include mq(pc){
        padding-right: 259px;
        padding-left: 261px;
    }
}

.question__items {
    margin-top: 40px;
}

.question__item-q {
    padding: 10px 10px 8px 15px;
    display: flex;
    gap: 15px;

    @include mq(pc){
        padding: 20px 457px 20px 24px;
    }
}

.question__item-a {
    padding: 10px 10px 8px 15px;
    display: flex;
    gap: 15px;
    margin-top: 16px;
    margin-bottom: 24px;

    @include mq(pc){
        padding: 20px 25px 20px 25px;
    }
}